*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

/* NavBar.js */
nav{
    height: 70px;
    display: flex;
    padding: 10px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0,0,0,0.1);
}

.logo-img{
    max-width: 100px;
}

/* Experience.js */
section{
    padding: 20px;
}

.container{
    display: flex;
    flex-direction: column;
}

.exp-header{
    margin-bottom: 16px;
}

.exp-text{
    margin-top: 0;
}

/* Card.js */
.card{
    width: 175px;
    font-size: 12px;
    padding: 20px;
}

.cxk{
    width: 100%;
    border-radius: 9px;
}

.card--stats{
    display: flex;
    align-items: center;
}

.star{
    height:14px;
}

.gray{
    color: gray
}

.bold{
    font-weight: bold;
}